.about-section {
    padding: 100px 100px;
    background-color: var(--background-dark-2);
}

body.light-theme .about-section{
    background-color: var(--background-light-2);
}

.about-section h2{
    text-align: center;
    padding-bottom: 50px;
}

.about-img img{
    height: 400px;
}

@media(max-width: 767px){
    .about-section {
        padding: 30px 20px;
        text-align: justify;
    }

    .about-img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom  : 50px;
    }
    .about-img img{
        height: 400px;
    }
}