.experience-section {
    padding         : 100px 100px;
    background-color: var(--background-dark-2);
}

body.light-theme .experience-section {
    background-color: var(--background-light-2);
}

.experience-section h2 {
    text-align    : center;
    padding-bottom: 50px;
}

.experience-section h5 {
    text-align    : center;
    padding-bottom: 50px;
}

.experience-box {
    margin          : 0px 100px;
    background-color: #1F2937;
    padding         : 50px 100px;
    border-radius   : 20px;
    box-shadow      : 0 4px 18px rgba(0, 0, 0, 0.1);
}

body.light-theme .experience-box {
    background-color: #ffffff;
}

.experience-row {
    display       : flex;
    flex-direction: column;
    gap           : 50px;
}

.experience-box img {
    height: 100px;
}

.date {
    display        : flex;
    justify-content: end;
}

@media(max-width: 767px) {
    .experience-section {
        padding: 30px 20px;
    }

    .experience-box {
        margin          : 0px;
        background-color: #1F2937;
        padding         : 20px;
        border-radius   : 20px;
    }

    .experience-box-row {
        display       : flex;
        flex-direction: column;
        gap           : 10px;
    }

    .date {
        display        : flex;
        justify-content: start;
    }
}