:root {
  --background-light-1: #ffffff;
  --background-light-2: #F9FAFB;
  --text-light-1      : #111827;
  --text-light-2      : #4B5563;

  --background-dark-1: #030712;
  --background-dark-2: #111827;
  --text-dark-1      : #F9FAFB;
  --text-dark-2      : #D1D5DB;
}

body {
  background-color: var(--background-dark-1);
  color           : var(--text-dark-1);
  font-family     : var(--text-dark-1);
  transition      : background-color 0.3s, color 0.3s, font-family 0.3s;
}

body.light-theme {
  background-color: var(--background-light-1);
  color           : var(--text-light-1);
  font-family     : var(--text-light-1);
}
